*{
  margin: 0px;
  padding: 0px;
}

.header{
  width: 100%;
  position:fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1000; 
}
.detailes{
  display: grid;
  grid-template-columns:auto auto;
  margin:30px auto ;
  justify-content: space-around;
  text-decoration: none;
  font-family: 'IBM Plex Serif', serif;
}
.detailes h3{
  text-decoration: none;
}

.card{
  width:25rem;
  margin:10px auto;
}
.footer{
  background-color: black;
  color: white; 
}


.content{
  background-color:black;
  color: white;
}
.ui{
  color: white;
}
.links{
  color: white;
}

.carddetaile{
  font-family: 'IBM Plex Serif', serif;
  margin:50px auto;
}
.card-header{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: xx-large;
  font-weight: bolder;
}

.img{
  width: 300px;
}

.disp{
  margin: 40px auto;
}
.disp #list{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: xx-large;
  font-weight: bolder;

}
